.sk-new {
    background-color: #3b0404;
    padding: 10px;
    color: rgb(221, 255, 211);
    border-radius: 28px;
}

/* ONLY FOR IMAGE CIRCLE */
.sk-new2 {
    width: 160px;
    height: 160px;

    border: 6px solid aqua;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto;
}